{% load static %}
{% load i18n %}
<footer>
    <div class="footer-top-area footer2 pt-90 pb-80 black2-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-wrapper mb-30">
                        <div class="footer-logo">
                            <a href="{% url 'foods:home' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""/></a>
                        </div>
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet, enim nec
                                venenatis </p>
                        </div>
                        <div class="footer-icon">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-skype"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-wrapper mb-30">
                        <h3 class="footer-title">Quick Link</h3>
                        <ul class="footer-menu">
                            <li><a href="{% url 'foods:about' %}"><i class="fas fa-caret-right"></i>About Us</a></li>
                            <li><a href="{% url 'post:blog' %}"><i class="fas fa-caret-right"></i>Our Blog</a></li>
                            <li><a href="{% url 'pages:contact' %}"><i class="fas fa-caret-right"></i>Contact Us</a></li>
                            <li><a href="{% url 'foods:shop' %}"><i class="fas fa-caret-right"></i>Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-wrapper mb-30">
                        <h3 class="footer-title">Photostream</h3>
                        <ul class="footer-img">
                            <li><a href="{% url 'foods:shop' %}"><img alt="" src="{% static 'img/instagram/1.jpg' %}"></a></li>
                            <li><a href="{% url 'foods:shop' %}"><img alt="" src="{% static 'img/instagram/2.jpg' %}"></a></li>
                            <li><a href="{% url 'foods:shop' %}"><img alt="" src="{% static 'img/instagram/3.jpg' %}"></a></li>
                            <li><a href="{% url 'foods:shop' %}"><img alt="" src="{% static 'img/instagram/4.jpg' %}"></a></li>
                            <li><a href="{% url 'foods:shop' %}"><img alt="" src="{% static 'img/instagram/5.jpg' %}"></a></li>
                            <li><a href="{% url 'foods:shop' %}"><img alt="" src="{% static 'img/instagram/6.jpg' %}"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-wrapper mb-30">
                        <h3 class="footer-title">{% trans 'Our Editorial' %}</h3>
                        <div class="footer-info">
                            <p>OUR CAFE INFO</p>
                        </div>
                        <ul class="footer-link">
                            <li><i class="fas fa-home"></i>Tashkent, Napa Team</li>
                            <li><i class="fas fa-phone"></i>+99897 001 01 01</li>
                            <li><i class="far fa-envelope"></i>pythondev001@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-adminarea-end -->
<!-- Modal Search -->
<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <input value="{{ request.GET.q }}" name="q" type="text" placeholder="Search here...">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</div>

